.event-management-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.card {
    background-color: #ffffff; /* White background color */
    border: 1px solid #ddd;
    border-radius: 12px; /* More rounded corners */
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Larger shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Smooth transition */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
    margin: 0 auto; /* Center align the card itself */
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.create-event-card h2 {
    font-size: 2em;
    color: red; /* Blue color for the "+" sign */
}

.event-management-content {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.event-management-content .card {
    max-width: 600px;
}